/**
 *  Chart 
 */

@chart_line_color: #74a3c7;
.chart_text() {
	fill: rgba(0,0,0,.4);
	font-size: 11px;
	font-family: sans-serif;
}

.chart {
	background: #f6f7f8;
	
	&__axis {
		&__text {
		}
	}
	&__axisY {
		&__line {
			fill: none;
			stroke: rgba(0,0,0,.1);
			shape-rendering: crispEdges;
		}
		&__text {
			.chart_text;
			transform: translate(25px,0);
			text-anchor: end;
		}
	}
	
	&__axisX {
		&__tick {
			fill: transparent;
		}
		&__text {
			.chart_text;
		}
		&__years &__text {
			font-size: 13px;
		}
	}
	
	&__content {
		&__item {
			cursor: pointer;
		}
		&__line {
			fill: none;
			stroke: @chart_line_color;
			stroke-width: 2px;
		}
	}
	
	&__tooltip {
		
		&__bg {
			width: 120px;
			height: 50px;
			fill: #fff;
			transform: translate(5px, -60px);
			filter: url(#chart_dropshadow);
		}
		&__grid {
			fill: none;
			stroke: rgba(0,0,0,.25);
			shape-rendering: crispEdges;
			stroke-dasharray: 5px;
		}
		&__point {
			r: 4px;
			fill: @chart_line_color;
			stroke: #fff;
			stroke-width: 2px;
		}
		&__date,
		&__value,
		&__delta {
			.chart_text;
			font-size: 13px;
		}
		&__date {
			transform: translate(15px, -40px);
		}
		&__value {
			fill: #000;
			transform: translate(15px, -20px);
		}
		&__icon {
			transform: translate(70px, -27px); 
		}
		&__delta {
			transform: translate(83px, -20px); 
		}
		
		.inc {
		  fill: #22a053;
		}
		.dec {
		  fill: #f00;
		}
	}
}
